{"swagger":"2.0","info":{"description":"Documentación del uso del api de teamplace","title":"Api Teamplace","contact":{"name":"Finnegans S.A.","url":"https://www.finneg.com","email":"info@finneg.com"}},"basePath":"/api","host":"api.finneg.com","tags":[{"name":"Autenticacion OAuth 2.0","description":"Obtención de access_token"},{"name":"ACOrdenesCompraDetalle","description":"Obtiene el detalle de una orden de compra por Identificación Externa Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ACOrdenesCompraFacturas","description":"Obtiene las facturas vinculadas a una OC a través de Identificación Externa Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ACOrdenesCompraFinalizadas","description":"Obtiene las ordenes de compra finalizadas por proveedor Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ACOrdenesCompraPendientes","description":"Obtiene las ordenes de compra pendientes por proveedor Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ACOrdenesCompraProductosPendientes","description":"Cantidad pendiente de entrega de una Orden de compra - API Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ACOrdenesCompraRemitos","description":"Obtiene los remitos vinculados a una OC a través de Identificación Externa Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"Actividad","description":"API de Actividades Tipo: JavaClass","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"JavaClass"}},{"name":"actividadAgro","description":"API de Actividades Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"ActividadesAgro","description":"API de Actividades Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"actividadIVA","description":"actividadIVA Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"AGRI_CERTIFICADOS","description":"Api autogenerada para vista Certificados de Depósitos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"AGRI_TRASLADOS","description":"Api autogenerada para vista Traslados de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"AgroDepositos","description":"Api para vista AgroDepositos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"AgroLabor","description":"Api para vista AgroLabor Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"AgroMaquinas","description":"Api para vista AgroMaquinas Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"AjusteHacienda","description":"Ajuste de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"AjusteStock","description":"AjusteStock Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"AltaRegistroLluvias","description":"Alta de Registro de Lluvias Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ANAFACTURACION","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisCasosDirectos","description":"Análisis de Casos Directos Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisCobranza","description":"analisis de Cobranza Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISCONSUMOAGROAPI","description":"Analisis de consumo para portal Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISCOSECHAS","description":"Api autogenerada para vista Análisis de Cosechas Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISCUENTADIMENSION","description":"Control Dimensiones en Cuentas Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"CONTABILIDAD","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISDEENTREGASYCALIDADES","description":"Api autogenerada para vista Análisis de entregas y calidades Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"analisisdelegajo","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISDESPACHO","description":"Api autogenerada para vista Análisis de Despachos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisDespachos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"analisisDespachoVenta","description":"Analisis de Despacho Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISENTREGASCERTIFICACIONESCOMPRAS","description":"Api autogenerada para vista Análisis de Entregas y Certificaciones Compras Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISENTREGASCERTIFICACIONESVENTAS","description":"Api autogenerada para vista Análisis de Entregas y Certificaciones Ventas Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISFACTCOMPRA","description":"ANALISISFACTCOMPRA  Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisFacturaCompra","description":"ANALISISFACTCOMPRA  Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISFACTURASVENTAPENDIENTES","description":"Api autogenerada para vista Análisis de Facturas de Venta Pendientes Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisFacturaVenta","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISLABORES","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISLOTES","description":"Api Análisis de Lotes Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"analisisOrdenCompra","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISORDENESCOMPRA","description":"Api autogenerada para vista Análisis de Ordenes de Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISPARTEPRODUCCIONAGROAPI","description":"Analisis de Partes de Produccion para portal Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"analisisPedidoCompra","description":"Analisis Pedido Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISPEDIDOSCOMPRA","description":"Api autogenerada para vista Análisis de Pedidos de Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISPEDIDOSVENTA","description":"Api autogenerada para vista Análisis de Pedidos de Venta Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISPEDIDOSVENTAAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisPedidoVenta","description":"Análisis de Pedido de Venta Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISRECEPCION","description":"Api autogenerada para vista Análisis de Recepciones Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"analisisRecepcionCompra","description":"Analisis Recepcion Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"analisisRecepciones","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"analisisRetencion","description":"Analisis de Retenciones Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"AnalisisRetenciones","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"AnalisisRetencionesXTransaccion","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"ANALISISVENTASPENDIENTESAGRONASAJA","description":"Api autogenerada para vista Análisis de Pendientes Ventas Agronasaja Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ANAOCPENDIENTE","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ANAPEDVTAPENDIENTES","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiActualizacionDeCheques","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiAmenazas","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiAnalisisDeInsumos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"ApiAnalisisFacturasByComprobanteCuit","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiAnalisisFacturasDeCompras","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"APIANALISISINSUMOS","description":"Api autogenerada para vista API Análisis de Insumos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"APIANALISISLABORES","description":"Api autogenerada para vista API Análisis de Labores Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"APIBmodelerCase","description":"API para gestionar casos de proceso de BPM de Bmodeler. Incluye el caso principal con sus actividades (CaseActivities) e información adjunta (AttachInformation) Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"DATAWAREHOUSE","esInterna":false,"tipo":"EntidadVO"}},{"name":"APIBmodelerCaseActivity","description":"API para gestionar casos actividad de Bmodeler. Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"DATAWAREHOUSE","esInterna":false,"tipo":"EntidadVO"}},{"name":"APIBmodelerDatawarehouseEntidad","description":"API para gestionar entidades de Datawarehouse de Bmodeler. Almacena información de procesos, hilos, tareas y responsables para análisis y reportes Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"DATAWAREHOUSE","esInterna":false,"tipo":"EntidadVO"}},{"name":"APIBmodelerProcess","description":"API para gestionar procesos de BPM de Bmodeler. Permite crear, consultar, actualizar y eliminar procesos de negocio Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"DATAWAREHOUSE","esInterna":false,"tipo":"EntidadVO"}},{"name":"apiBPMAvanzarCaso","description":"Api autogenerada para vista apiBPMAvanzarCaso Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"apiBPMCasoActividadFromCaso","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"apiCargaPreciosMat","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"OPERACIONES MAT","esInterna":false,"tipo":"EntidadVO"}},{"name":"apicasos","description":"API generada automáticamente a partir de una view  Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"apicatalog","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"APIConsultaContratosCompraGranos","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"APIConsultaContratosGrano","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiContratista","description":"ApiContratista Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"APIContratoVentaGranos","description":"Contratos de venta de Granos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiEstablecimiento","description":"ApiEstablecimiento Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiExportacionPagos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"ApiFacturasDeVenta","description":"Api para la obtencion de facturas de venta Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiFacturasDeVentaPortalGranos","description":"Api para la obtención de facturas de venta y su visualización en el Portal de proveedores de granos Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"APIGetCodigoByPK","description":"Api de tipo View para obtener el valor del campo \u0027codigo\u0027 de cualquier tabla, dado el nombre de la tabla y el valor de su PK Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"Comprasx","esInterna":false,"tipo":"Viewer"}},{"name":"ApiGetDatosVO","description":"Api que obtiene clase vo y subtipo id de transacciones y entidades Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"APIGetJsonPedCotCompra","description":"Api de tipo View para obtener el valor del campo \u0027codigo\u0027 de cualquier tabla, dado el nombre de la tabla y el valor de su PK Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"APIGetLoteActividadCW","description":"Dado un establecimiento, lote, fecha, y superficie, obtiene desde la planificación agrícola el LoteActividadID correspondiente. Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"APIGetWorkflowsDestino","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiInformeCobranzasDetalladas","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiLiquidacionCompraHacienda","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"APILiquidacionVentaGranos","description":"API Liquidacion Venta de Granos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiLiquidacionVentaHacienda","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"APIListadoPrecios","description":"Se lista todas las listas de precios que hay en el sistema. Como parametro, le pasas 0 para la lista de precios de Compra, y 1 para lista de precios de Venta Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiLote","description":"ApiLote Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"APIModeloConversion","description":"APIModeloConversion Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiObtenerPadreHijo","description":"Api autogenerada para vista Obtener Padre-hijo Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"APIPastillas","description":"API de Pastillas Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiPedidosDeVenta","description":"Api para la obtencion de  datos  de los pedidos de ventas para un determinado Cliente Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"APIPluviometros","description":"API de Pluviómetros Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"apiPosiciones","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"OPERACIONES MAT","esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiProductoAgro","description":"ApiProductoAgro Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ApiProductosKit","description":"Api para la obtencion de productos Kit Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"APIResumenForecast","description":"Permite consultar información sobre los costos “Forecast” Presupuesto + Real dada una determinada fecha para cada uno de los planes generados Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"apiRetencionesMultiples","description":"apiRetencionesMúltiples Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"IMPUESTOS_ARGENTINA","esInterna":false,"tipo":"Viewer"}},{"name":"APIRetencionesPercepcionesIIBB","description":"Gestor de retenciones y percepciones de IIBB Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"IMPUESTOS_ARGENTINA","esInterna":false,"tipo":"Viewer"}},{"name":"ApiSituacionCheques","description":"ApiSituacionCheques Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"APITrasladosCompraVenta","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"APITrasladosGranos","description":"TrasladosGBetaB Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"APIUNudad","description":"Api unidad Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ApiViewApiParametersDW","description":"ApiViewApiParametersDW Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"DEALS","esInterna":false,"tipo":"Viewer"}},{"name":"ApiViewApisDW","description":"ApiViewApisDW Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"DEALS","esInterna":false,"tipo":"Viewer"}},{"name":"aplicacionFacturaCompra","description":"Se listan todos los documentos que se encuentran aplicados al comprobante que se ingresa Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"aplicacionFacturaVenta","description":"Se listan todos los documentos que se encuentran aplicados al comprobante que se ingresa Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"AplicacionListaPrecioProducto","description":"Se listan los precios correspondientes a una lista de precio para un determinado producto Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"APLICPROVEEDORES","description":"Api autogenerada para vista Aplicacion de Proveedores Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"appitem","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CORE","esInterna":false,"tipo":"EntidadVO"}},{"name":"asientoGenerico","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"Asignaciones","description":"Asignaciones Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"BALANCESUMASYSALDOS","description":"BALANCESUMASYSALDOS  Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"bpmAccionar","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"bpmFormActividad","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"campana","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"campanaAgro","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"CampaniaCodigoARCA","description":"Obtener las campanias a traves de los valores de ARCA Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"CargaHoras","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"cartaPortePorCTG","description":"cartaPortePorCTG Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"BOT GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"casoDirecto","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"casoProspect","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"CATEGORIADOCUMENTO","description":"Api para Recuperar el listado del ABM Categorías de documentos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"categoriaFiscal","description":"CategoriaFiscal Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"CATEGORIASDOCUMENTOSAPI","description":"Api autogenerada para vista Categorias de Documentos - API Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"centroCosto","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"CentroCostoBSA","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"certificado1116a","description":"Certificado 1116A Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"certificadodeposito","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"certificadodepositoActualizar","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"certificadort","description":"Certificado RT Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"chofer","description":"Choferes Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"cliente","description":"Clientes Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"clienteList","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"cobranza","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"cobranzaIntercompany","description":"cobranzaIntercompany Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"COBRANZAS","description":"Api autogenerada para vista Cobranzas Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"cobroDebitoAutomatico","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"composicionSaldoCliente","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"COMPOSICIONSALDOCLIEPROV","description":"Api autogenerada para vista Composición de Saldos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"composicionSaldoProveedor","description":"Composición de Saldos de Proveedores Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"COMPOSICIONSALDOSCLIENTES","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"COMPOSICIONSALDOSPROVEEDORES","description":"Composición de Saldos de Proveedores Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"comprobanteTipoImpositivo","description":"comprobanteTipoImpositivo Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"Concepto","description":"Concepto Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"conceptoOrganizacion","description":"Conceptos de Organizacion Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"conceptoValorizacion","description":"Conceptos de Valorización Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"conceptoValorizacionTipo","description":"Tipos de Conceptos de Valorización Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"condicionPago","description":"Condiciones de pago Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ConfigLimiteCreditoCliente","description":"Configuración de límite de crédito por cliente Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"ConsumoHacienda","description":"Consumo de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"consumoInsumos","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"contratoAbono","description":"contratoAbono Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"contratoArrendamiento","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"contratoArrendamientoPlus","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"contratoCompraGranos","description":"Contrato de compra Granos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"contratoVentaGranos","description":"Contrato de Venta de Granos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"cosecha","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"cuadrilla","description":"API de Cuadrilla Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"CUADRORESULTADOS","description":"CUADRORESULTADOS Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"cuenta","description":"cuenta Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"CORE","esInterna":false,"tipo":"EntidadVO"}},{"name":"cuentaCorrienteCliente","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"CUENTACORRIENTECLIENTES","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"CUENTACORRIENTEPROV","description":"CUENTACORRIENTEPROV Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"cuentaCorrienteProveedor","description":"cuentaCorrienteProveedor Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"Viewer"}},{"name":"CUENTACORRIENTEPROVEEDORES","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"debitosrechazados","description":"Api autogenerada para vista Debitos Rechazados Vista Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"DepositoPorTipoDocumentoAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"PORTAL DE VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"depositos","description":"depositos Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"DESPACHO","description":"Api autogenerada para vista Despachos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"DespachoHacienda","description":"Despacho de hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"DESPACHOMASIVO","description":"Api autogenerada para vista Despacho Masivo Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"despachoVenta","description":"despachoVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"detalleDepositos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"detalleDepositosCoordenadas","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"detalleDepositosDirecciones","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"DetalleDescargaAGDP","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"detalleEmpresas","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"DETALLESUBTIPOSDOCUMENTO","description":"Api autogenerada para vista DETALLESUBTIPOSDOCUMENTO Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"DETALLETRANSACCIONES","description":"Api autogenerada para vista DETALLETRANSACCIONES Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"DETALLEXTRANSACCION","description":"Api que trae detalle por una transacción a partir de su pk Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"CATALOGAR","esInterna":false,"tipo":"Viewer"}},{"name":"DETSTKIESD","description":"Api autogenerada para vista Detalle de Stock de Ingresos y Egresos por Subdepósito Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"dieta","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"Empleado","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"empresa","description":"Empresa Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"API","esInterna":false,"tipo":"EntidadVO"}},{"name":"empresaSucursal","description":"Api empresaSucursal sin atributos usuarios y coordenadas Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"API","esInterna":false,"tipo":"EntidadVO"}},{"name":"engordePorCategoriaEstablecimiento","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"EquipoAutorizacion","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"especie","description":"Api del maestro de especie Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"EspecieCodigoAFIP","description":"Obtener las especie, acompaniado de sus codigos de afip Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"EspecieCodigoARCA","description":"Obtener las especie, acompaniado de sus codigos de ARCA Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"EsquemaEngorde","description":"Esquema de engorde Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"establecimiento","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"Estadio","description":"Api de estadíos Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"EstadisticaDeVentas","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"EXP_SICORE","description":"Api autogenerada para vista Exportación SICORE Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ExportacionClientesAgronasaja","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"facturaCompra","description":"facturaCompra Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"FACTURACPRA","description":"Api autogenerada para vista Facturas de Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"FacturasAgronasaja","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"FACTURASVINCULADASALPEDIDOAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"facturaVenta","description":"facturaVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"FACTURAVTA","description":"Api autogenerada para vista Facturas de Venta Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"Fijaciones","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"FijacionesdePrecioCTOCPRAGRA","description":"Api para vista Fijaciones de Precios CTOCPRAGRA Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"FijacionesdePrecioCTOVTAGRA","description":"Api para vista Fijaciones de Precios CTOVTAGRA Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"FiltrosAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"FinnAppConsultaLaboreos","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"FinnAppConsultaOT","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"FinnappTarifarioLabores","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"formula","description":"Fórmula Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"Funcion","description":"API de Función Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"GANANCIASSUFRIDAS","description":"GANANCIASSUFRIDAS Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"GCDatosTransaccionAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"GESTIONPEDIDOVTA","description":"Api autogenerada para vista Gestión de Pedidos de Venta Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"gestionProspect","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"getCertificadoDepositoForDeals","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"getContratoGranosByNroContrato","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"BOT GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"getDatosClienteEmpresa","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"getDatosTransaccionSubtipo","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"getLiqTipoFromCoe","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"BOT GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"GetNameServer","description":"Obtener nombre del servidor de BD Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"getTransaccionesPendientesAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"getVinculacionRecepcionesDespachos","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"GRANOS_CONTRATODECOMPRA","description":"Api autogenerada para vista Contratos de Compra de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"GRANOS_LIQ_COMPRA","description":"Api autogenerada para vista Liquidaciones de Compra de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"GRANOS_TRACKING_VENTAS","description":"Api autogenerada para vista Tracking de Operaciones de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"GRANOS_VENTA_CONTRATO","description":"Api autogenerada para vista Contratos de Venta de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"grupodetareas","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"haciendaCategoria","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"GANADERIA","esInterna":false,"tipo":"EntidadVO"}},{"name":"HorasReales","description":"API Mobile para cargar horas reales Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"identificacionTributaria","description":"Identificacion Tributaria Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"Implemento","description":"API de Implementos Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"impresionReciboSueldo","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"INFFISCCLI","description":"INFFISCCLI Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"INFFISCCLIDIR","description":"INFFISCCLIDIR Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"infofiscalprov","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"informacionFiscalClientes","description":"Información Fiscal de Clientes Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"INFORME_ASIGNACIONCUPOSCOMPRA","description":"Api autogenerada para vista Informe Asignación Cupos Compra Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"INFORME_ASIGNACIONCUPOSVENTA","description":"Api autogenerada para vista Informe Asignación Cupos Venta Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"INFORME_CONCILIACIONBANCARIA","description":"Api autogenerada para vista Informe Conciliación Bancaria Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"InformeContGRNCPRAAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"INFORMECONTGRNVTAAPI","description":"Api de Informe de Contratos de Venta Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"InformeControlCosechaApi","description":"API - Control Cosecha Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"InformeEliminadosApi","description":"API - Informe Eliminados - SIMA Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"INFORMEIIBB","description":"INFORMEIIBB Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"InformeOrdenesTrabajoApi","description":"API - Informe Ordenes de Trabajo Ejecutadas / Pendientes Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"INFORMETRASGRNAPI","description":"Api Informe de Traslado de Granos API Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"integracion","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"integracionCompraHacWC","description":"Api generada para vista Integración de Compra de Hacienda WC Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"GANADERIA","esInterna":false,"tipo":"Viewer"}},{"name":"integracionVentaHacWC","description":"Api autogenerada para vista Integración de Venta de Hacienda WC Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"GANADERIA","esInterna":false,"tipo":"Viewer"}},{"name":"labor","description":"API de Labores Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"laboreo","description":"API de Laboreos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"LABOREOEJECUTADOS","description":"Api para vista LaboreoEjecutados Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"LaboreoOrden","description":"API de Ordenes de Trabajo Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"LaboreoOrdenSima","description":"API de Ordenes de Trabajo Sima Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"LaboreosEjecutadosCW","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"LaboreoSima","description":"Laboreo Sima Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"LIBROIVACOMPRAS","description":"LIBROIVACOMPRAS  Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"LIBROIVACOMPRASENCOLUMNAS","description":"Api autogenerada para vista Libro de IVA Compras en Columnas Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"LIBROIVAVENTAS","description":"LIBROIVAVENTAS  Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"libroMayor","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"LIQSUELDOS","description":"Api autogenerada para vista Liquidacion de sueldos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"LiquidacionCompraGranos","description":"Liquidacion Compra de Granos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"LISTA_PRECIO_COT","description":"Api autogenerada para vista Lista de Precios Cotización Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"listadoInsumos","description":"Integración Insumo Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"LISTADOPRECIODF2","description":"Api autogenerada para vista Listado de precios Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ListaPrecioGetPrecios","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"ListaPreciosCompra","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ListProductosSIMA","description":"ListProductosSIMA Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"Localidad","description":"Api de localidades Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"Lote","description":"API de Lotes Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"MantenimientoOrdenTrabajo","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"MAQUINARIAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"Maquina","description":"Máquina Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"marca","description":"Marcas Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"MedicionGranos","description":"Api de Medición de Granos Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"moneda","description":"moneda Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"MONEDACOTIZACION","description":"Cotizaciones de Monedas Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"CONTABILIDAD","esInterna":false,"tipo":"Viewer"}},{"name":"MOVFONDOS","description":"Api autogenerada para vista Movimiento de Fondos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"movimientoFondos","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"movimientoInterno","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"MRPFORMULAPRODUCCION","description":"MRP Formula de Producción Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"MRP","esInterna":false,"tipo":"EntidadVO"}},{"name":"MuerteHacienda","description":"Muerte de hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"NacimientosHacienda","description":"Nacimientos de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"GANADERIA","esInterna":false,"tipo":"EntidadVO"}},{"name":"novedadLiquidacionSueldo","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"nucleoFuncional","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"obrasocial","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ObtenerCae","description":"ObtenerCae Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ObtenerDatosParaSRIAPI","description":"lo que hace esta api es obtener los datos que posteriormente enviaremos al SRI de ecuador Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"obtenerImportePendienteFvtaApl","description":"Api autogenerada para vista Facturas de venta aplicadas view Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"operacionIntercompany","description":"operacionIntercompany Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"operacionWizard","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"operacionWizardByBusiness","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"oportunidadComercial","description":"API para gestión de Oportunidades Comerciales (CasoSaleForceVO) Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CRM","esInterna":false,"tipo":"EntidadVO"}},{"name":"OrdenCarga","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"ordenCompra","description":"ordenCompra Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"ordenescomprapendientes","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ordenPago","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ordenProduccion","description":"ordenProduccion Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"ordenTrabajo","description":"API de Ordenes de Trabajo Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"Organizacion","description":"API de Organizaciones Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CORE","esInterna":false,"tipo":"EntidadVO"}},{"name":"ORGANIZACIONRETENCIONPADRON","description":"Api autogenerada para vista Admin. Retenciones y Percepciones por Contribuyente Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"organizacionRetencionPadronList","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"IMPUESTOS_ARGENTINA","esInterna":false,"tipo":"Viewer"}},{"name":"originacion","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"PANEL_MBPGAN_MARGENBRUTO","description":"Api autogenerada para vista Margen Bruto Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"PANEL_VINCULACION_TRANSACCIONES_GRANOS_LIQUIDACIONES","description":"Api autogenerada para vista Vinculacion de Transacciones de Granos - Liquidaciones Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK","description":"Api autogenerada para vista Tablero de Comercialización de Granos - Detalle de Stock Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ParteActividad","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"parteMantenimiento","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"MAQUINARIAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"parteProduccion","description":"parteProduccion Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"partidaTipo","description":"Tipos de Partida Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"PEDCPRA","description":"Api autogenerada para vista Pedidos de Compra Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"pedidoCompra","description":"pedidoCompra Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"COMPRAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"pedidoCotizacionCompra","description":"pedidoCotizacionCompra Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"pedidoVenta","description":"pedidoVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"PEDIDOVTA","description":"Api autogenerada para vista Pedidos de Venta Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"Persona","description":"API de Persona Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"PesajesHacienda","description":"Pesaje de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"planificacionesAgricolas","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"planificacionGanadera","description":"planificacionGanadera Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"planificacionGanaderaEco","description":"planificacionGanaderaEco Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"planificacionGanaderaView","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"PluviometrosAPI","description":"API de Pluviómetros Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"POSICIONIVA","description":"POSICIONIVA Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"postulantes","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"prestacion","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"presupuestoVenta","description":"presupuestoVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"produccionLeche","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"GANADERIA","esInterna":false,"tipo":"EntidadVO"}},{"name":"producto","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"productoFamilia","description":"Familia de Productos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"productoList","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"productoRubro","description":"Rubro de Producto Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"ProductosGranosEspecieCodigoAFIP","description":"Obtener Productos solo del tipo grano y acompañado de su codigo de especie Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"ProductosGranosEspecieCodigoARCA","description":"Obtener Productos solo del tipo grano y acompañado de su codigo de especie Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"productoSubfamilia","description":"Subfamilia de producto Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"proveedor","description":"proveedor Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CONTABILIDAD","esInterna":false,"tipo":"EntidadVO"}},{"name":"proveedorfromgo","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"PROYECTOAPI","description":"Api autogenerada para vista Proyectos - Api Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"Viewer"}},{"name":"puntoVenta","description":"puntoVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"puntoVentaIntegraciones","description":"puntoVenta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"PuntoVentaItem","description":"Tickets de punto de venta Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"puntoVentaResumido","description":"Tickets de punto de venta Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"VENTAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"recepcionCompra","description":"recepcionCompra Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"COMPRAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"RecepcionHacienda","description":"Recepcion de hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"RegistroLluvias","description":"Consulta de Registros de Lluvias Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"REMITOSVINCULADOSALPEDIDOAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"rendicionFondos","description":"rendicionFondos Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"REPORTELISTAPRECIOS","description":"Api autogenerada para vista Reporte Lista de precios Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"RESINGEGRDEP","description":"Api autogenerada para vista Resumen de Ingresos y Egresos por Depósito Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"ResumenContratoCompraGranos","description":"Api para la vista Resumen de Contrato de Compra de Granos Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"resumenContratosVentaGranos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"RESUMENSTOCK","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"ResumenStockAgro","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"resumenStockPorDeposito","description":"Resumen de Stock por Deposito Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"Viewer"}},{"name":"resumenStockPorEmpresa","description":"Resumen de Stock por Empresa Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"Viewer"}},{"name":"retencion","description":"retencion Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"retencionTipo","description":"Tipo de retención Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"SaldoDeCreditoPorCliente","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"Aplicación custom","esInterna":false,"tipo":"Viewer"}},{"name":"SALDOSCLIE","description":"Api autogenerada para vista Saldos de Clientes Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SALDOSPROV","description":"Api autogenerada para vista Saldos de Proveedores Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SanidadHacienda","description":"Sanidad de Hacienda  Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"SERVICIOS_DE_ACOPIO_A_FACTURAR","description":"Api autogenerada para vista Servicios de Acopio a Facturar Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"simaAsignaciones","description":"Integración SIMA Asignaciones Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaDepositos","description":"Api  para vista SimaDepositos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"simaEstablecimiento","description":"simaEstablecimiento Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaLabor","description":"Api para vista SimaLabor Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"simaLote","description":"Integración SIMA Lote Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaMaquinas","description":"Api para vista SimaMaquinas Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaOrdenesDeTrabajo","description":"Api para vista SIMAOrdenesDeTrabajo Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaOrganizacion","description":"Api  para vista GetOrganizacion Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"simaOTfinalizadas","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"simaProducto","description":"Integración SIMA Producto Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"SimaUnidad","description":"Api para vista SimaUnidad Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"situacionFisicaRealGranosCompra","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"SP_CheckEcheqsDepositados","description":"Validación e-cheqs depositados Interbanking (ERPT-471). Coincide: IdCheque + importe; FechaEstado solo trazabilidad cliente. Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SP_CheckFiservCupones","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SP_ExportadorDePagosBBVA","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SP_ExportadorDePagosCredicoop","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SP_MatchPaywayMovimientosDeals","description":"Api autogenerada para vista SP_MatchPaywayMovimientosDeals Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SPAjusteImportesMonSecundariaDifCambio","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"SPGetContextoNDNCDiferenciaCambio","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"Viewer"}},{"name":"STOCKCONPRECIOSPORCLIENTEAPI","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"stockDeposito","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"stockDepositoPrecio","description":"Resumen de stock por deposito y Precios de productos Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"STOCKDISPONIBLEPARADESPACHO","description":"Api autogenerada para vista Stock disponible para Despacho Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"stockEmpresa","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"stockHaciendaPlanificado","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"StockHaciendaResumen","description":" Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"sucursal","description":"sucursal Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"sucursalOrganizacionList","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"SuplementacionHacienda","description":"Suplementacion de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"Talonario","description":"API de Talonarios Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"ERP_BASE","esInterna":false,"tipo":"EntidadVO"}},{"name":"tarifarioTransporte","description":"Tarifario de Transportes Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"tarifarioTransporteList","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"INVENTARIOS","esInterna":false,"tipo":"Viewer"}},{"name":"tasaImpositiva","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"TEAMPLACE_PROYECTOS_PERMISOS","description":"Api autogenerada para vista Proyectos - Permisos de equipos y usuarios Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"Viewer"}},{"name":"TeamplaceProyecto","description":"API para gestión de Proyectos Teamplace Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"templateMensaje","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CORE","esInterna":false,"tipo":"EntidadVO"}},{"name":"tipoliquidacionsueldos","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"TipoNovedad","description":"API de Tipo de Novedad Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"tipoOperacionBancaria","description":"Tipos de Operaciones Bancarias Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"TESORERIA Y FINANZAS","esInterna":false,"tipo":"EntidadVO"}},{"name":"tiposdeoperacionesbancarias","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"tpcasoDirecto","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"SERVICIOS","esInterna":false,"tipo":"EntidadVO"}},{"name":"TrackingVentas","description":"Tracking de Operaciones de Ventas - Documentos Vinculados (Facturas y Notas de Crédito) por Tipo y Rango de Fechas Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTAS","esInterna":false,"tipo":"Viewer"}},{"name":"TRASGRANOS_DF2","description":"Api autogenerada para vista Traslado de Granos Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"TrasladoCVByCTG","description":"Api autogenerada para vista Traslado de Granos (Compra-Venta) por CTG Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"COMPRA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"trasladoGranos","description":" Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"TrasladosGranosPendientesVinculacionContratos","description":"Traslados de Granos pendientes de vinculacion a contratos Tipo: Viewer","extraProperties":{"esEstandard":true,"aplicacion":"VENTA GRANOS","esInterna":false,"tipo":"Viewer"}},{"name":"TrasladosHacienda","description":"Traslados de Hacienda Tipo: EntidadVO","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"EntidadVO"}},{"name":"TrasladosPendientesFromContrato","description":"Api autogenerada para vista TrasladosPendientesFromContrato Tipo: Viewer","extraProperties":{"esEstandard":false,"aplicacion":"AGRO_BASE","esInterna":false,"tipo":"Viewer"}},{"name":"unidad","description":"Unidad Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"USR_ComposicionSaldosResumenParaEmail_API","description":"Api autogenerada para vista Composicion Saldos Resumen Para Email API Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"USR_ORGINFFISC_API","description":"Api autogenerada para vista USR Informacion Fiscal de Organizaciones API Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"USR_RESSTOCKDEP","description":"Api autogenerada para vista Resumen de Stock por Depósito - Agronasaja Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"USR_TRASGRANCOMPVENT_API","description":"Api autogenerada para vista USR Traslado de Granos Compra Venta API Tipo: Viewer","extraProperties":{"esEstandard":false,"esInterna":false,"tipo":"Viewer"}},{"name":"Usuario","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"aplicacion":"CORE","esInterna":false,"tipo":"EntidadVO"}},{"name":"ValidarComprobantesAPI","description":"Verificar que los comprobantes dados por parametros existen en el sistema Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"vendedor","description":" Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}},{"name":"viewRendicionFondos","description":"API para listar rendiciones de fondos Tipo: Viewer","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"Viewer"}},{"name":"zona","description":"zona Tipo: EntidadVO","extraProperties":{"esEstandard":true,"esInterna":false,"tipo":"EntidadVO"}}],"schemes":["https","http"],"paths":{"/LaboreoOrdenSima":{"post":{"tags":["LaboreoOrdenSima"],"summary":"LaboreoOrdenSima","description":"inserta la entidad:LaboreoOrdenSima\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/LaboreoOrdenSima?ACCESS_TOKEN\u003d{$access_token}","operationId":"LaboreoOrdenSima_post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"LaboreoOrdenSimaVO","in":"body","description":"LaboreoOrdenSimaVO","required":true,"type":"","schema":{"$ref":"/BSA/api/swaggerApi?key\u003d5157425f5e5143515a5143425c\u0026api\u003dLaboreoOrdenSima\u0026nombreVO\u003dLaboreoOrdenSimaVO"}}],"responses":{"200":{"description":"Descripción del estado de la operacion ","schema":{"$ref":"#/definitions/ApiResponseCreated"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/campana/list":{"get":{"tags":["campana"],"summary":"campana","description":"Devuelve la entidad:campana\u003cbr\u003e\u003cbr\u003e\u003cb\u003eParámetros de consulta opcionales:\u003c/b\u003e\u003cbr\u003e\u003cb\u003eSe omiten automáticamente:\u003c/b\u003e example, updatedSince, ACCESS_TOKEN\u003cbr\u003e\u003cb\u003eParámetros permitidos:\u003c/b\u003e Corresponden a los códigos de las condiciones definidas en el DiccionarioDatosVO de la entidad (comparación case-insensitive)\u003cbr\u003e\u003cb\u003eMúltiples valores:\u003c/b\u003e Para condiciones que requieren múltiples valores, separar por punto y coma (;)\u003cbr\u003e\u003cb\u003eEjemplo:\u003c/b\u003e ?codigo\u003dABC123\u0026estado\u003dACTIVO\u0026fechas\u003d2024-01-01;2024-12-31\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/campana/list?[updatedSince]\u003d{$yyyy-mm-dd}\u0026ACCESS_TOKEN\u003d{$access_token}","operationId":"campana_list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/definitions/ParametroUpdateSince"}],"responses":{"200":{"description":"Devuelve el listado de campana","schema":{"items":{"properties":{"descripcion":{"example":"Esto es una descripción","description":"Devuelve la descripción del objeto.","type":"string"},"codigo":{"example":"Codigo1","description":"Devuelve el código del objeto.","type":"string"},"nombre":{"example":"Nombre1","description":"Devuelve el nombre del objeto.","type":"string"},"activo":{"example":true,"description":"Indica si el objeto está activo o no.","type":"boolean"}},"type":"object"},"type":"array"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/reports/resumenStockPorEmpresa":{"get":{"tags":["resumenStockPorEmpresa"],"summary":"resumenStockPorEmpresa","description":"Devuelve la entidad:resumenStockPorEmpresa\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/reports/resumenStockPorEmpresa?ACCESS_TOKEN\u003d{$access_token}\u0026PARAMWEBREPORT_fecha\u003d2026-05-22\u0026PARAMWEBREPORT_producto\u003dproducto\u0026PARAMWEBREPORT_deposito\u003ddepósito\u0026PARAMWEBREPORT_organizacion\u003dorganizacion\u0026PARAMWEBREPORT_numeroPartida\u003dpartida\u0026PARAMWEBREPORT_tipoStock\u003d0\u0026PARAMWEBREPORT_circuitocontable\u003dcircuito_contable\u0026PARAMWEBREPORT_soloStockNoCero\u003dfalse\u0026PARAMWEBREPORT_soloStockDebajoPtoReposicion\u003dfalse\u0026PARAMWEBREPORT_soloDepositos\u003d0\u0026PARAMWEBREPORT_Empresa\u003dempresa-sucursal\u0026PARAMWEBREPORT_TipoPrecio\u003d0\u0026PARAMWEBREPORT_AgruparPor\u003d2\u0026PARAMWEBREPORT_MonedaID\u003dmoneda","operationId":"resumenStockPorEmpresa_get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PARAMWEBREPORT_fecha","in":"query","description":"Fecha Hasta. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":false,"type":"string","format":"date","example":"2026-05-22"},{"name":"PARAMWEBREPORT_producto","in":"query","description":"Codigo de producto o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"producto"},{"name":"PARAMWEBREPORT_deposito","in":"query","description":"Codigo de depósito o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"depósito"},{"name":"PARAMWEBREPORT_organizacion","in":"query","description":"Codigo de organizacion o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"organizacion"},{"name":"PARAMWEBREPORT_numeroPartida","in":"query","description":"Codigo de partida o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"partida"},{"name":"PARAMWEBREPORT_tipoStock","in":"query","description":"Tipo de Stock","required":false,"type":"number","format":"double","example":0},{"name":"PARAMWEBREPORT_circuitocontable","in":"query","description":"Codigo de circuito_contable o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"circuito_contable"},{"name":"PARAMWEBREPORT_soloStockNoCero","in":"query","description":"Solo con Stock","required":false,"type":"boolean","example":false},{"name":"PARAMWEBREPORT_soloStockDebajoPtoReposicion","in":"query","description":"Con Stock p/debajo de pto. de repos.","required":false,"type":"boolean","example":false},{"name":"PARAMWEBREPORT_soloDepositos","in":"query","description":"Ver Solo","required":false,"type":"number","format":"double","example":0},{"name":"PARAMWEBREPORT_Empresa","in":"query","description":"Codigo de empresa-sucursal o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"empresa-sucursal"},{"name":"PARAMWEBREPORT_TipoPrecio","in":"query","description":"Tipo Precio","required":false,"type":"number","format":"double","example":0},{"name":"PARAMWEBREPORT_AgruparPor","in":"query","description":"Agrupa por","required":false,"type":"number","format":"double","example":2},{"name":"PARAMWEBREPORT_MonedaID","in":"query","description":"Codigo de moneda o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":true,"type":"string","example":"moneda"}],"responses":{"200":{"description":"Devuelve el reporte resumenStockPorEmpresa","schema":{"$ref":"/BSA/api/swaggerApiViewer?key\u003d5157425f5e5143515a5143425c\u0026api\u003dresumenStockPorEmpresa"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/reports/ANALISISCOSECHAS":{"get":{"tags":["ANALISISCOSECHAS"],"summary":"ANALISISCOSECHAS","description":"Devuelve la entidad:ANALISISCOSECHAS\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/reports/ANALISISCOSECHAS?ACCESS_TOKEN\u003d{$access_token}\u0026PARAMWEBREPORT_fechaDesde\u003d2026-01-01\u0026PARAMWEBREPORT_fechaHasta\u003d2026-05-22\u0026PARAMWEBREPORT_Pestablecimiento\u003destablecimiento\u0026PARAMWEBREPORT_lote\u003dlote\u0026PARAMWEBREPORT_actividad\u003dactividad\u0026PARAMWEBREPORT_CampanaID\u003dcampaña\u0026PARAMWEBREPORT_Ambiente\u003dambiente\u0026PARAMWEBREPORT_circuitocontable\u003dcircuito_contable\u0026PARAMWEBREPORT_costoStandard\u003d0\u0026PARAMWEBREPORT_producto\u003dproducto\u0026PARAMWEBREPORT_Empresa\u003dempresa-sucursal\u0026PARAMWEBREPORT_VerMonedaEn\u003d0\u0026PARAMWEBREPORT_Estadio\u003destadio\u0026PARAMWEBREPORT_IndicadorSuperficie\u003d0","operationId":"ANALISISCOSECHAS_get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PARAMWEBREPORT_fechaDesde","in":"query","description":"Fecha Desde. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":false,"type":"string","format":"date","example":"2026-01-01"},{"name":"PARAMWEBREPORT_fechaHasta","in":"query","description":"Fecha Hasta. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":false,"type":"string","format":"date","example":"2026-05-22"},{"name":"PARAMWEBREPORT_Pestablecimiento","in":"query","description":"Codigo de establecimiento o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"establecimiento"},{"name":"PARAMWEBREPORT_lote","in":"query","description":"Codigo de lote o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"lote"},{"name":"PARAMWEBREPORT_actividad","in":"query","description":"Codigo de actividad o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"actividad"},{"name":"PARAMWEBREPORT_CampanaID","in":"query","description":"Codigo de campaña o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"campaña"},{"name":"PARAMWEBREPORT_Ambiente","in":"query","description":"Codigo de ambiente o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"ambiente"},{"name":"PARAMWEBREPORT_circuitocontable","in":"query","description":"Codigo de circuito_contable o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"circuito_contable"},{"name":"PARAMWEBREPORT_costoStandard","in":"query","description":"Precio","required":false,"type":"number","format":"double","example":0},{"name":"PARAMWEBREPORT_producto","in":"query","description":"Codigo de producto o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"producto"},{"name":"PARAMWEBREPORT_Empresa","in":"query","description":"Codigo de empresa-sucursal o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"empresa-sucursal"},{"name":"PARAMWEBREPORT_VerMonedaEn","in":"query","description":"Ver Moneda","required":false,"type":"number","format":"double","example":0},{"name":"PARAMWEBREPORT_Estadio","in":"query","description":"Codigo de estadio o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"estadio"},{"name":"PARAMWEBREPORT_IndicadorSuperficie","in":"query","description":"Indicador Superficie","required":false,"type":"number","format":"double","example":0}],"responses":{"200":{"description":"Devuelve el reporte ANALISISCOSECHAS","schema":{"$ref":"/BSA/api/swaggerApiViewer?key\u003d5157425f5e5143515a5143425c\u0026api\u003dANALISISCOSECHAS"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/ActividadesAgro/list":{"get":{"tags":["ActividadesAgro"],"summary":"ActividadesAgro","description":"Devuelve la entidad:ActividadesAgro\u003cbr\u003e\u003cbr\u003e\u003cb\u003eParámetros de consulta opcionales:\u003c/b\u003e\u003cbr\u003e\u003cb\u003eSe omiten automáticamente:\u003c/b\u003e example, updatedSince, ACCESS_TOKEN\u003cbr\u003e\u003cb\u003eParámetros permitidos:\u003c/b\u003e Corresponden a los códigos de las condiciones definidas en el DiccionarioDatosVO de la entidad (comparación case-insensitive)\u003cbr\u003e\u003cb\u003eMúltiples valores:\u003c/b\u003e Para condiciones que requieren múltiples valores, separar por punto y coma (;)\u003cbr\u003e\u003cb\u003eEjemplo:\u003c/b\u003e ?codigo\u003dABC123\u0026estado\u003dACTIVO\u0026fechas\u003d2024-01-01;2024-12-31\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/ActividadesAgro/list?[updatedSince]\u003d{$yyyy-mm-dd}\u0026ACCESS_TOKEN\u003d{$access_token}","operationId":"ActividadesAgro_list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/definitions/ParametroUpdateSince"}],"responses":{"200":{"description":"Devuelve el listado de ActividadesAgro","schema":{"items":{"properties":{"descripcion":{"example":"Esto es una descripción","description":"Devuelve la descripción del objeto.","type":"string"},"codigo":{"example":"Codigo1","description":"Devuelve el código del objeto.","type":"string"},"nombre":{"example":"Nombre1","description":"Devuelve el nombre del objeto.","type":"string"},"activo":{"example":true,"description":"Indica si el objeto está activo o no.","type":"boolean"}},"type":"object"},"type":"array"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/reports/integracionCompraHacWC":{"get":{"tags":["integracionCompraHacWC"],"summary":"integracionCompraHacWC","description":"Devuelve la entidad:integracionCompraHacWC\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/reports/integracionCompraHacWC?ACCESS_TOKEN\u003d{$access_token}\u0026PARAMWEBREPORT_FechaDesde\u003d2026-01-01\u0026PARAMWEBREPORT_FechaHasta\u003d2026-05-22\u0026PARAMWEBREPORT_Documento\u003dtipo_documento\u0026PARAMWEBREPORT_Cliente\u003dcliente\u0026PARAMWEBREPORT_CircuitoContable\u003dcircuito_contable\u0026PARAMWEBREPORT_dimension\u003ddimensión\u0026PARAMWEBREPORT_valor\u003ddimensión_valor\u0026PARAMWEBREPORT_Producto\u003dcategoría\u0026PARAMWEBREPORT_Moneda\u003dmoneda\u0026PARAMWEBREPORT_Empresa\u003dempresa-sucursal","operationId":"integracionCompraHacWC_get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PARAMWEBREPORT_FechaDesde","in":"query","description":"Fecha Desde. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":false,"type":"string","format":"date","example":"2026-01-01"},{"name":"PARAMWEBREPORT_FechaHasta","in":"query","description":"Fecha Hasta. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":false,"type":"string","format":"date","example":"2026-05-22"},{"name":"PARAMWEBREPORT_Documento","in":"query","description":"Codigo de tipo_documento o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"tipo_documento"},{"name":"PARAMWEBREPORT_Cliente","in":"query","description":"Codigo de cliente o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"cliente"},{"name":"PARAMWEBREPORT_CircuitoContable","in":"query","description":"Codigo de circuito_contable o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"circuito_contable"},{"name":"PARAMWEBREPORT_dimension","in":"query","description":"Codigo de dimensión o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"dimensión"},{"name":"PARAMWEBREPORT_valor","in":"query","description":"Codigo de dimensión_valor o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"dimensión_valor"},{"name":"PARAMWEBREPORT_Producto","in":"query","description":"Codigo de categoría o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"categoría"},{"name":"PARAMWEBREPORT_Moneda","in":"query","description":"Codigo de moneda o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"moneda"},{"name":"PARAMWEBREPORT_Empresa","in":"query","description":"Codigo de empresa-sucursal o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"empresa-sucursal"}],"responses":{"200":{"description":"Devuelve el reporte integracionCompraHacWC","schema":{"$ref":"/BSA/api/swaggerApiViewer?key\u003d5157425f5e5143515a5143425c\u0026api\u003dintegracionCompraHacWC"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/empresa/{codigo}":{"get":{"tags":["empresa"],"summary":"empresa","description":"Devuelve la entidad:empresa\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/empresa/{codigo}?ACCESS_TOKEN\u003d{$access_token}","operationId":"empresa_get","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Devuelve la entidad empresa","schema":{"$ref":"/BSA/api/swaggerApi?key\u003d5157425f5e5143515a5143425c\u0026api\u003dempresa\u0026nombreVO\u003dEmpresaPadreBSuiteVO"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"put":{"tags":["empresa"],"summary":"empresa","description":"Actualiza la entidad:empresa\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/empresa/{codigo}?ACCESS_TOKEN\u003d{$access_token}","operationId":"empresa_put","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"EmpresaPadreBSuiteVO","in":"body","description":"EmpresaPadreBSuiteVO","required":true,"type":"","schema":{"$ref":"/BSA/api/swaggerApi?key\u003d5157425f5e5143515a5143425c\u0026api\u003dempresa\u0026nombreVO\u003dEmpresaPadreBSuiteVO"}},{"$ref":"#/definitions/ParametroForceInsert"}],"responses":{"200":{"description":"Descripción del estado de la operacion ","schema":{"$ref":"#/definitions/ApiResponseUpdated"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"delete":{"tags":["empresa"],"summary":"empresa","description":"Elimina la entidad:empresa\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/empresa/{codigo}?ACCESS_TOKEN\u003d{$access_token}","operationId":"empresa_delete","consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Descripción del estado de la operacion ","schema":{"$ref":"#/definitions/ApiResponseDeleted"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"},{"$ref":"#/definitions/ParametroCodigo"}]},"/ordenTrabajo/list":{"get":{"tags":["ordenTrabajo"],"summary":"ordenTrabajo","description":"Devuelve la entidad:ordenTrabajo\u003cbr\u003e\u003cbr\u003e\u003cb\u003eParámetros de consulta opcionales:\u003c/b\u003e\u003cbr\u003e\u003cb\u003eSe omiten automáticamente:\u003c/b\u003e example, updatedSince, ACCESS_TOKEN\u003cbr\u003e\u003cb\u003eParámetros permitidos:\u003c/b\u003e Corresponden a los códigos de las condiciones definidas en el DiccionarioDatosVO de la entidad (comparación case-insensitive)\u003cbr\u003e\u003cb\u003eMúltiples valores:\u003c/b\u003e Para condiciones que requieren múltiples valores, separar por punto y coma (;)\u003cbr\u003e\u003cb\u003eEjemplo:\u003c/b\u003e ?codigo\u003dABC123\u0026estado\u003dACTIVO\u0026fechas\u003d2024-01-01;2024-12-31\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/ordenTrabajo/list?[updatedSince]\u003d{$yyyy-mm-dd}\u0026ACCESS_TOKEN\u003d{$access_token}","operationId":"ordenTrabajo_list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/definitions/ParametroUpdateSince"}],"responses":{"200":{"description":"Devuelve el listado de ordenTrabajo","schema":{"items":{"properties":{"descripcion":{"example":"Esto es una descripción","description":"Devuelve la descripción del objeto.","type":"string"},"codigo":{"example":"Codigo1","description":"Devuelve el código del objeto.","type":"string"},"nombre":{"example":"Nombre1","description":"Devuelve el nombre del objeto.","type":"string"},"activo":{"example":true,"description":"Indica si el objeto está activo o no.","type":"boolean"}},"type":"object"},"type":"array"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/Concepto/list":{"get":{"tags":["Concepto"],"summary":"Concepto","description":"Devuelve la entidad:Concepto\u003cbr\u003e\u003cbr\u003e\u003cb\u003eParámetros de consulta opcionales:\u003c/b\u003e\u003cbr\u003e\u003cb\u003eSe omiten automáticamente:\u003c/b\u003e example, updatedSince, ACCESS_TOKEN\u003cbr\u003e\u003cb\u003eParámetros permitidos:\u003c/b\u003e Corresponden a los códigos de las condiciones definidas en el DiccionarioDatosVO de la entidad (comparación case-insensitive)\u003cbr\u003e\u003cb\u003eMúltiples valores:\u003c/b\u003e Para condiciones que requieren múltiples valores, separar por punto y coma (;)\u003cbr\u003e\u003cb\u003eEjemplo:\u003c/b\u003e ?codigo\u003dABC123\u0026estado\u003dACTIVO\u0026fechas\u003d2024-01-01;2024-12-31\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/Concepto/list?[updatedSince]\u003d{$yyyy-mm-dd}\u0026ACCESS_TOKEN\u003d{$access_token}","operationId":"Concepto_list","consumes":["application/json"],"produces":["application/json"],"parameters":[{"$ref":"#/definitions/ParametroUpdateSince"}],"responses":{"200":{"description":"Devuelve el listado de Concepto","schema":{"items":{"properties":{"descripcion":{"example":"Esto es una descripción","description":"Devuelve la descripción del objeto.","type":"string"},"codigo":{"example":"Codigo1","description":"Devuelve el código del objeto.","type":"string"},"nombre":{"example":"Nombre1","description":"Devuelve el nombre del objeto.","type":"string"},"activo":{"example":true,"description":"Indica si el objeto está activo o no.","type":"boolean"}},"type":"object"},"type":"array"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/reports/PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK":{"get":{"tags":["PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK"],"summary":"PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK","description":"Devuelve la entidad:PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/reports/PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK?ACCESS_TOKEN\u003d{$access_token}\u0026PARAM_FechaDesde\u003d2026-01-01\u0026PARAM_FechaHasta\u003d2026-05-22\u0026PARAM_Producto\u003dproducto\u0026PARAM_Empresa\u003dempresa-sucursal\u0026PARAM_Campana\u003dcampaña","operationId":"PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK_get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PARAM_FechaDesde","in":"query","description":"Fecha Desde. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":true,"type":"string","format":"date","example":"2026-01-01"},{"name":"PARAM_FechaHasta","in":"query","description":"Fecha Hasta. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWeek, getFirstDayOfMonth, getLastDayOfMonth, getFirstDayOfYear, getLastDayOfYear, getFirstDayOfLastMonth, getLastDayOfLastMonth, getFirstDayOfLastWeek, getLastDayOfLastWeek, getFirstDayOfLastYear, getLastDayOfLastYear","required":true,"type":"string","format":"date","example":"2026-05-22"},{"name":"PARAM_Producto","in":"query","description":"Codigo de producto o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"producto"},{"name":"PARAM_Empresa","in":"query","description":"Codigo de empresa-sucursal o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"empresa-sucursal"},{"name":"PARAM_Campana","in":"query","description":"Codigo de campaña o selección inteligente: arbol(nombre) busca primero como árbol, luego como nodo","required":false,"type":"string","example":"campaña"}],"responses":{"200":{"description":"Devuelve el reporte PANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK","schema":{"$ref":"/BSA/api/swaggerApiViewer?key\u003d5157425f5e5143515a5143425c\u0026api\u003dPANELCOMERCIALIZACIONGRANOS_DETALLE_STOCK"}},"400":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse400"}},"500":{"description":"Error","schema":{"$ref":"#/definitions/ApiResponse500"}}}},"parameters":[{"$ref":"#/definitions/ParametroToken"}]},"/reports/SALDOSPROV":{"get":{"tags":["SALDOSPROV"],"summary":"SALDOSPROV","description":"Devuelve la entidad:SALDOSPROV\u003cbr\u003e\u003cbr\u003eURL: https://api.finneg.com/api/reports/SALDOSPROV?ACCESS_TOKEN\u003d{$access_token}\u0026PARAMWEBREPORT_fecha\u003d2026-05-22\u0026PARAMWEBREPORT_organizacion\u003dproveedor\u0026PARAMWEBREPORT_circuitocontable\u003dcircuito_contable\u0026PARAMWEBREPORT_cuenta\u003dcuenta\u0026PARAMWEBREPORT_dimension\u003ddimensión\u0026PARAMWEBREPORT_valor\u003dvalor\u0026PARAMWEBREPORT_soloconsaldo\u003dfalse\u0026PARAMWEBREPORT_moneda\u003dmoneda\u0026PARAMWEBREPORT_Empresa\u003dempresa-sucursal","operationId":"SALDOSPROV_get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"PARAMWEBREPORT_fecha","in":"query","description":"Fecha. Formato: yyyy-MM-dd o constantes relativas: getCurrentDate, getFirstDayOfWe
[...]
